main {
  display: grid;
  grid-template-columns: auto 900px auto;
}

main div {
  grid-column-start: 2;
  grid-column-end: 3;
}

.findTickets{
  margin-top: 100px;
  margin-bottom: 40px;
  height: 100px;
  box-shadow: none;
}


.ticketForm{
  margin-top: 30px !important;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.flightsSelector{
  background-color: rgb(230, 230, 230);
  height: 500px;
}

.flightDirection {
  font-size: 23px;
  font-weight: bold;
  color: var(--main-color);
}

.flightDirection .direction{
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.flightDirection .direction img{
  height: 30px;
  margin: 0px 10px;
  margin-bottom: -5px;
}


.flightSection{
  width: 100%;
  background: white;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  height: 520px;
  margin-top: 25px;
  margin-bottom: 50px;
}
/*
.flightSection::after{
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}
*/
.flightSection .time{
  float: left;
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
}

.flightSection .time .place{
  font-size: 20px;
  font-weight: normal;
}

.flightSection .time .place span{
  font-weight: bold;
  display: inline-block;
}

.flightSection .line{
  width: 29%;
  height: 1px;
  float: left;
  border-top: 1px #FF6200 solid;
  margin-top: 40px;
}

.flightSection .plane{
  margin-top: 25px;
  float: left;
  margin-left: 20px;
}

.flightSection .plane img{
  padding-left: 5px;
  height: 30px;
  position: relative;
}

.flightSection .plane .flightTime{
  margin-top: 5px;
}

.tarifBox{
  float: left;
  width: 250px;
  height: 313px;
  background: rgb(235, 235, 235);
  padding: 20px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-bottom: 40px;
  margin-left: 100px;
  margin-top: 30px;
  position: relative;
}

.tarifBox:hover{
  border: 2px #FF6200 solid;
  position: relative;
  top: -2px;
  left: -2px;
}

.tarifBox .header{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.feature{
  display: table;
}

.feature img{
  height: 20px;
  display: table-cell;
  vertical-align: middle;
}

.feature .text{
  display: table-cell;
  padding-left: 10px;
  padding-bottom: 10px;
}

.tarifBox .price{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  bottom: 70px;
  width: 250px;
}

.tarifBox .buyBtn{
  text-align: center;
  padding: 10px 0px;
  background: #FF6200;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  width: 250px;
  user-select: none;
  cursor: pointer;
}

 #tb2, #tb4{
   float: right;
   margin-right: 100px;
 }

#tb2 .buyBtn, #tb4 .buyBtn{
  background: #6AAC2B;
}

#tb2:hover, #tb4:hover{
  position: relative;
  left: 2px;
  border-color: #6AAC2B;
}

.tariffSelect{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  opacity: 0;
}

.buyTcktBtn{
  font-size: 40px;
  font-weight: bold;
  margin-right: 0px;
  margin-left: auto;
  margin-bottom: 50px;
  width: 250px;
  text-align: center;
  background-color: #133AAC;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
}

.buyTcktBtn a{
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
}

a:visited
{
    text-decoration: none;
    decoration: none;
}
