
main{
  display: grid;
  grid-template-columns: auto 900px auto;
  margin-top: 200px;
  font-size: 20px;
}

main div {
  grid-column-start: 2;
  grid-column-end: 3;
}

h2{
  margin-left: 20px;
  color: #133AAC;
}

#buyBox2{
  position: relative;
  left: 0 !important;
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}
