.findTickets{
  margin-top: -80px;
  margin-bottom: 60px;
  height: 170px;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #FFFFFF;
  z-index: 1;
  box-shadow: 1px 1px 5px rgb(150,150,150);
  border-radius: 12px;
}

.findTickets .findTicketsHeader{
  height: 50px;
  background: #f4f4f4;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  width: 100%;
  position: relative;
}

.findTickets .findTicketsHeader .option{
  position: relative;
  vertical-align: middle;
  float: left;
  width: 50%;
  text-align: center;
  background: rgb(220, 220, 220);
  height: 40px;

	padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}



.findTickets .ticketCheck{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  position: absolute;
  opacity: 0;
}

.findTickets .buyBox{
  display: none;
}

.findTickets .ticketCheck:checked ~ .buyBox{
  display: block;
}

.findTickets .clickable{
  cursor: pointer;
}

.findTickets .buyBox{
  width: 900px;
  margin: 0 10%;
  position: relative;
}

.findTickets .ageTicket, .oneWay{
  float: left;
  display: block;
}

.findTickets .ticketForm{
  margin-top: 50px;
  border: 1px gray solid;
  height: 36px;
  border-radius: 8px;
}

.findTickets .ticketForm input{
  float: left;
  display: block;
  vertical-align: middle;
  margin: 0;
  font-size: 18px;
  padding-left: 10px;
  border-color: gray;
}

.findTickets .ticketForm input[type="text"]{
  width: 200px;
  height: 20px;
  border-top: none;
  border-bottom: none;
  border-width: 1px;
  margin-top: 8px;
  /*border: none;*/
}

.findTickets .ticketForm input[type="text"]:nth-child(1){
  border-left: none;
}

.findTickets .ticketForm input[type="text"]:nth-child(3){
  border-right: none;
}

.findTickets .ticketForm input[type="button"]{
  width: 24px;
  background: url(../images/arrows.svg);
  background-size: cover;
  height: 24px;
  border: none;
  cursor: pointer;
  margin: 6px 8px;
}

.findTickets .ticketForm input[type="submit"]{
  width: 38px;
  height: 38px;
  margin-top: -1px;
  margin-right: -1px;
  border: none;
  cursor: pointer;
  background: url(../images/searchWhite.svg) no-repeat;
  background-origin: content-box;
  background-color: var(--main-color);
  padding: 5.5px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  float: right;
}

.findTickets .ticketForm input[type="button"]:focus,
.findTickets .ticketForm input[type="submit"]:focus,
.findTickets .ticketForm input[type="text"]:focus{
  outline: none;
}

.findTickets .oneWay {
  font-size: 17px;
  font-weight: normal;
  vertical-align: middle;
  margin-top: 7px;
  margin-left: 10px;
}

.findTickets .oneWay input{
  margin-top: 4px;
  margin-right: 4px;
}

.findTickets .ageTicket{
  height: 26px;
  width: 26px;
  margin: 5px 10px;
  padding: 0px 5px;
  display: block;
  float: left;
  background: url(../images/passenger.svg);
  background-repeat: no-repeat;
  background-origin: content-box;
  border-left: 1px gray solid;
  border-right: 1px gray solid;
  position: relative;
}

.findTickets .ageTicketCheck{
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  opacity: 0;
  cursor: pointer;
}

.findTickets .ageTicketBox{
  width: 300px;
  text-align: left;
  background: white;
  border: 1px gray solid;
  border-radius: 8px;
  padding: 25px;
  position: absolute;
  top: 40px;
  right: 0px;
  box-shadow: 1px 1px 5px rgb(150,150,150);
  display: none;
  z-index: 20;
}

.findTickets .ageTicketCheck:checked + .ageTicketBox{
  display: block;
}

.findTickets .ageTicketBoxOption{
  height: 70px;
}

.findTickets .ageTicketBoxOption .header{
  font-size: 25px;
  color: black;
  font-weight: bold;
  float: left;
}

.findTickets .ageTicketBoxOption .discription{
  font-size: 16px;
  color: gray;
  font-weight: normal;
  width: 70%;
  float: left;
}

.findTickets .ageTicketBoxOption .minus,
.findTickets .ageTicketBoxOption .value,
.findTickets .ageTicketBoxOption .plus{
  float: right;
  margin-top: 0px;
  margin-bottom: auto;
  user-select: none;
}

.findTickets .ageTicketBoxOption .minus,
.findTickets .ageTicketBoxOption .plus{
  background: var(--main-color);
  font-size: 32px;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.findTickets .ageTicketBoxOption .value{
  width: 30px;
  text-align: center;
  margin-top: 7px;
}

.findTickets #buyBox2{
  position: relative;
  left: -500px;
}

.findTickets #buyBox2 input {
  width: 32%;
  background-image: none;
}

.findTickets #buyBox2 input[type="submit"]{
  color: white;
}

.findTickets #buyBox2 input[type="text"]:nth-child(2){
  border-left: none;
  border-right: none;
}

.findTickets #buttonGray{
  background: gray;
}

.findTickets #date_range,
.findTickets #date_single{
  text-align: center;
}

.findTickets #date_single{
  display: none;
}
