footer{
  width: 100%;

  border-top: 1px black solid;
  margin-top: auto;
  margin-bottom: 0px;
  background-color: rgb(230, 230, 230);

}
.ftelement{
  height: auto;
  width: 20%;

}
.fblock{
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 11%;
  width: 80%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  height: auto;
  font-size: 10pt;
}
.fcall{
  width: 60%;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  border:  2px #FF6200 solid;
  border-radius: 20px;
  padding: 10px;
}
.fmail{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
}
.fphone-img{
  margin-left: 20px;
  float: left;
  width: 10%;
}
.ftext{
  margin-left: 10px;
  float: left;
}
.femail{
  border: 0;
  float: left;
  height: 100%;
  width: 78%;
  font-size: 18pt;
  font-weight: 100;
  font-style: normal;
  font-family: 'Bellota Text';
}
.femail :active, :focus{
  outline: 0;
  outline-offset: 0;
  border: 0;
}
.fbutton{
  border: 0;
  float: left;
  height: 100%;
  width: 20%;
  background-color: #FF6200;
  border: 1px rgb(230, 230, 230) solid;
}
.fimg{
  height: 40px;
}
