main{
  display: grid;
  grid-template: auto 900px auto;
  margin-top: 100px;
  font-size: 16px;
}

.content{
  padding-bottom: 80px;
}

main div{
  grid-column-start: 2;
  grid-column-end: 3;
}

h1{
  color: #FF6200;
}

h2{
  margin-top: 40px;
  margin-bottom: 5px;
}

table{
  border-collapse: collapse;
}

th{
  border-bottom: 1px gray solid;
  border-top: 1px #FF6200 solid;
  padding-top: 5px;
  padding-bottom: 5px;
}

td{
  border-bottom: 1px gray solid;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

li{
  list-style-type: none;
  margin-left: -20px;
}

li::before{
  content: "";
  background: #FF6200;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
