main{
  display: grid;
  grid-template-columns: auto 900px auto;
}

.mainWrapper{
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 100px;
}


.plane{
  display: grid;
  grid-template-columns: repeat(8, auto);
  margin-bottom: 50px;
  width: 350px;
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  float: left;
  border: 8px #FFA873 solid;
  padding: 30px;
}

.colLetter{
  text-align: center;
}

.rowNum{

}

.seat{
  background-color: #FF6200;
  height: 15px;
  width: 15px;
  border: 1px black solid;
}

.extra{
  background-color: #70E500;
}

.occup{
  background-color: rgb(170, 170, 170);
}

.seat input{
  opacity: 0;
  cursor: pointer;
}

.way{

}

.way input{
  display: none;
}

.selected {
  background-color: #133AAC;
}

.demo{
  display: inline-block;
  width: 15px;
  height: 15px;
}

.info{
  width: 300px;
  float: right;
  border: 6px #6AAC2B dashed;
  padding: 20px;
  border-radius: 10px;
}

.yourSeats{
  font-size: 20px;
  margin-top: 50px;
}

span{
  display: inline;
}

.yourSeats span{
  font-weight: bold;
}

.contBTN{
  font-size: 25px;
  background: #133AAC;
  color: white;
  text-align: center;
  font-weight: bold;
  user-select: none;
  border-radius: 8px;
  margin-top: 50px;
  height: 40px;
  width: 250px;
  cursor: pointer;
  position: relative;
}

.contBTN a{
  padding: 5px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

a:visited
{
    text-decoration: none;
    decoration: none;
}
